<template>
  <div class="display" :style="cssVars">
    <svg width="0" height="0">
      <defs>
        <radialGradient id="LitSegmentGradientRed">
          <stop offset="0%" stop-color="rgba(255,10,0,1)"/>
          <stop offset="100%" stop-color="rgba(150,8,0,1)"/>
        </radialGradient>
        <radialGradient id="LitSegmentGradientBlue">
          <stop offset="0%" stop-color="rgba(0,88,255,1)"/>
          <stop offset="100%" stop-color="rgba(0,66,120,1)"/>
        </radialGradient>
        <radialGradient id="LitSegmentGradientGreen">
          <stop offset="0%" stop-color="rgba(97,255,0,1)"/>
          <stop offset="100%" stop-color="rgba(37,150,0,1)"/>
        </radialGradient>
        <radialGradient id="LitSegmentGradientAmber">
          <stop offset="0%" stop-color="rgba(255,128,0,1)"/>
          <stop offset="100%" stop-color="rgba(150,60,0,1)"/>
        </radialGradient>
        <radialGradient id="LitSegmentGradientPurple">
          <stop offset="0%" stop-color="rgba(255,0,255,1)"/>
          <stop offset="100%" stop-color="rgba(150,0,150,1)"/>
        </radialGradient>
      </defs>
    </svg>
    <div class="segment-displays">
      <seven-segment-display v-bind:key="index" v-bind:number="display" v-bind:color="color"
                             v-for="(display, index) in getDisplays"></seven-segment-display>
    </div>
  </div>
</template>

<script>

import SevenSegmentDisplay from "./SevenSegmentDisplay";

export default {
  name: "DisplayDriver",
  components: {
    SevenSegmentDisplay,
  },
  props: {
    number: Number,
    digits: Number,
    color: String,
    leadingZeros: Boolean,
  },
  data() {
    return {
      displays: this.displays,
    }
  },
  watch: {
    number(newNumber) {
      this.mergeDigitsIntoDisplay(newNumber);
    }
  },
  created() {
    this.displays = [...Array(this.digits)];

    this.mergeDigitsIntoDisplay(this.number);
  },
  computed: {
    getDisplays() {
      return this.displays;
    },
    getDisplayWidth() {
      return 100 / this.digits + '%';
    },
    cssVars() {
      return {
        '--display_width': this.getDisplayWidth,
      }
    }
  },
  methods: {
    splitNumberIntoDigits(number) {
      return Array.from(number.toString()).map(Number);
    },
    mergeDigitsIntoDisplay(number) {
      let digits = this.splitNumberIntoDigits(number).reverse();
      let display = this.displays.reverse();

      for (let i = 0; i < display.length; i++) {
        if (typeof digits[i] != 'undefined') {
          display[i] = digits[i];
        } else {
          display[i] = null;
          if (this.leadingZeros) {
            display[i] = 0;
          }
        }
      }

      this.displays = display.reverse();
    }
  }
}
</script>

<style scoped>

.display {
  margin-right: 10px;
}

.segment-displays {
  display: flex;
}

.segment-displays > * {
  margin-right: 10px;
}

.segment-displays > *:last-of-type {
  margin-right: 0;
}

.segment-display {
  width: var(--display_width);
  height: auto;
  flex-shrink: 1;
  flex-grow: 1;
}

</style>
