<template>
  <svg width="40.835mm" height="76.444mm" viewBox="0 0 40.835 76.444" class="segment-display">
    <use xlink:href="#LitSegmentGradientRed"></use>
    <use xlink:href="#LitSegmentGradientGreen"></use>
    <use xlink:href="#LitSegmentGradientBlue"></use>
    <use xlink:href="#LitSegmentGradientAmber"></use>
    <use xlink:href="#LitSegmentGradientPurple"></use>
    <g transform="translate(.006832 .13555)">
      <g transform="translate(-32.92 -29.843)">
        <path id="seg-0" class="segment" :class="{'segment_lit': segIsLit(0)}" :fill="fillSeg(0)"
              d="m68.312 29.708 2.4967 2.5123-2.4967 2.4877h-30l-2.4897-2.4877 2.4897-2.5123z"
              style="paint-order:normal"/>
        <path id="seg-1" class="segment" :class="{'segment_lit': segIsLit(1)}" :fill="fillSeg(1)"
              d="m68.741 35.008 2.5123-2.4967 2.4877 2.4967v30l-2.4877 2.4897-2.5123-2.4897z"
              style="paint-order:normal"/>
        <path id="seg-2" class="segment" :class="{'segment_lit': segIsLit(2)}" :fill="fillSeg(2)"
              d="m68.748 70.743 2.5123-2.4967 2.4877 2.4967v30l-2.4877 2.4897-2.5123-2.4897z"
              style="paint-order:normal"/>
        <path id="seg-3" class="segment" :class="{'segment_lit': segIsLit(3)}" :fill="fillSeg(3)"
              d="m68.397 101.15 2.4967 2.5123-2.4967 2.4877h-30l-2.4897-2.4877 2.4897-2.5123z"
              style="paint-order:normal"/>
        <path id="seg-4" class="segment" :class="{'segment_lit': segIsLit(4)}" :fill="fillSeg(4)"
              d="m32.921 70.743 2.5123-2.4967 2.4877 2.4967v30l-2.4877 2.4897-2.5123-2.4897z"
              style="paint-order:normal"/>
        <path id="seg-5" class="segment" :class="{'segment_lit': segIsLit(5)}" :fill="fillSeg(5)"
              d="m32.913 35.008 2.5123-2.4967 2.4877 2.4967v30l-2.4877 2.4897-2.5123-2.4897z"
              style="paint-order:normal"/>
        <path id="seg-6" class="segment" :class="{'segment_lit': segIsLit(6)}" :fill="fillSeg(6)"
              d="m68.389 65.417 2.4967 2.5123-2.4967 2.4877h-30l-2.4897-2.4877 2.4897-2.5123z"
              style="paint-order:normal"/>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: "SevenSegmentDisplay",
  props: {
    number: Number,
    color: String,
  },
  data() {
    return {
      truthTable: {
        0: [1, 1, 1, 1, 1, 1, 0],
        1: [0, 1, 1, 0, 0, 0, 0],
        2: [1, 1, 0, 1, 1, 0, 1],
        3: [1, 1, 1, 1, 0, 0, 1],
        4: [0, 1, 1, 0, 0, 1, 1],
        5: [1, 0, 1, 1, 0, 1, 1],
        6: [1, 0, 1, 1, 1, 1, 1],
        7: [1, 1, 1, 0, 0, 0, 0],
        8: [1, 1, 1, 1, 1, 1, 1],
        9: [1, 1, 1, 1, 0, 1, 1],
      },
    }
  },
  methods: {
    segIsLit(segNo) {
      return typeof this.truthTable[this.number] != 'undefined' ? this.truthTable[this.number][segNo] === 1 : false;
    },
    fillSeg(segNo) {
      switch (this.color) {
        case 'red':
          return this.segIsLit(segNo) ? 'url(#LitSegmentGradientRed)' : 'rgb(255, 10, 0)';

        case 'green':
          return this.segIsLit(segNo) ? 'url(#LitSegmentGradientGreen)' : 'rgb(97, 255, 0)';

        case 'blue':
          return this.segIsLit(segNo) ? 'url(#LitSegmentGradientBlue)' : 'rgb(0, 88, 255)';

        case 'purple':
          return this.segIsLit(segNo) ? 'url(#LitSegmentGradientPurple)' : 'rgb(208, 0, 228)';

        case 'amber':
        case 'orange':
          return this.segIsLit(segNo) ? 'url(#LitSegmentGradientAmber)' : 'rgb(255, 128, 0)';

        default:
          return this.segIsLit(segNo) ? 'url(#LitSegmentGradientGreen)' : 'rgb(97, 255, 0)';
      }
    },
  }
}
</script>

<style scoped>
.segment {
  opacity: 0.1;
}

.segment_lit {
  opacity: 1;
}
</style>