<template>
  <div id="app">
    <div class="row">
      <display-driver v-bind:digits="2" v-bind:number="firstDisplayNumber" v-bind:leading-zeros=true v-bind:color="'red'"></display-driver>
      <display-driver v-bind:digits="2" v-bind:number="secondDisplayNumber" v-bind:leading-zeros=true v-bind:color="'orange'"></display-driver>
      <display-driver v-bind:digits="2" v-bind:number="thirdDisplayNumber" v-bind:leading-zeros=true v-bind:color="'green'"></display-driver>
    </div>
    <display-driver v-bind:digits="8" v-bind:number="number" v-bind:leading-zeros=false v-bind:color="'blue'"></display-driver>
  </div>
</template>

<script>
import DisplayDriver from "./components/DisplayDriver";

export default {
  name: 'CountUp',
  components: {
    DisplayDriver,
  },
  data () {
    return {
      number: this.number,
    }
  },
  created() {
    this.number = 123456;
  },
  mounted() {
    this.$nextTick(function () {
      this.updateNumber();
    })
  },
  updated() {
    this.$nextTick(function () {
      this.updateNumber();
    })
  },
  computed: {
    firstDisplayNumber() {
      return parseInt(''.concat(this.number).slice(0,2));
    },
    secondDisplayNumber() {
      return parseInt(''.concat(this.number).slice(2,4));
    },
   thirdDisplayNumber() {
      return parseInt(''.concat(this.number).slice(4,6));
    },
  },
  methods: {
    updateNumber() {
      setTimeout( () => {
        this.number++;
        if (this.number > 999999) {
          this.number = 0;
        }
      }, 1000 );
    }
  }
}
</script>

<style>

:root {
  background-color: #2c3e50;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(10,10,10);
  padding: 40px;
  margin-top: 60px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
